.input:focus {
}

.input {
    box-sizing: border-box;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
}

.errorInput:focus {
}

.error {
}
