.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;

}

.rowHeader {
    display: flex;
    width: 610px;
    height: 36px;
    left: 70px;
    top: 2280px;

    background: #E5E5E5;
}

.loading {

}