.radio {
}

.radio::before {
}


.radio:checked::before {
}

.label {
}

.options {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    padding-right: 500px;
}
